* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, Roboto,
    "Segoe UI", "Helvetica Neue", HelveticaNeue, "游ゴシック体", YuGothic,
    "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", Verdana,
    "メイリオ", Meiryo, sans-serif;
  -webkit-overflow-scrolling: touch;
  list-style-type: none;
}

b,
strong,
.bold {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, Roboto,
    "Segoe UI semibold", "Helvetica Neue", HelveticaNeue, "游ゴシック体",
    YuGothic, "游ゴシック", "Yu Gothic", "Segoe UI", Verdana, "メイリオ", Meiryo,
    sans-serif;
}

_:lang(x)::-ms-backdrop,
.selector {
  font-family: "Segoe UI", "メイリオ", Meiryo, sans-serif;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-left {
  width: 100%;
  height: 100vh;
  position: relative;
}

.wrapper-right {
  width: 100%;
  height: 100vh;
  position: relative;
}

.height100 {
  height: 100%;
}

.position-re {
  position: relative;
}

.center {
  margin: 0 auto;
}
.top-title {
  text-align: left;
  width: 70%;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.top-name {
  font-size: 1.9em;
  margin-bottom: 2vmin;
  font-weight: 300;
}
.top-name-boder {
  padding-bottom: 3vmin;
  margin-bottom: 3vmin;
  border-bottom: solid 1px black;
  display: inline-block;
}
.top-subscription {
  font-size: 0.9em;
  width: 90%;
  font-weight: 300;
  line-height: 1.4;
  letter-spacing: 0.3em;
}
@media screen and (max-width: 959px) {
  .wrapper {
    display: block;
  }
  .wrapper-left {
    width: 100%;
    height: 20vh;
    position: relative;
  }

  .wrapper-right {
    width: 100%;
    height: 80vh;
    position: relative;
  }
}
